* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black: #000;
    --red: #f54646;
    --blue: #3566ec;
    --verde: #5fca2d;
    --amarillo: #f3f346;
    --white: #fff;
}

body {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
}

header h1 {
    font-size: 5rem;
    margin-top: 30px;
}

header p {
    font-size: 1.5rem;
}
.contain-game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    margin: 30px auto;
    width: 400px;
    height: 400px;
}
.rojo, .verde, .azul, .amarillo {
    width: 200px;
    height: 200px;
}

.rojo {
    background-color: var(--red);
}

.verde {
    background-color: var(--verde);
}

.amarillo {
    background-color: var(--amarillo);
}

.azul {
    background-color: var(--blue);
}

.button {
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 159px);
    width: 300px;
    height: 100px;
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
    background-color: var(--black);
    box-shadow: 5px 5px 15px  var(--white);
    cursor: pointer;
}

.ocultar {
    display: none;
}
